<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-4">
              <label for="sort-field">Sort By</label>
              <select name="sort-field" id="sort-field" class="form-control" [(ngModel)]="sortField">
                <option [value]="field" *ngFor="let field of sortFields">
                  {{ utilService.capitalized(field) }}
                </option>
              </select>
          </div>
          <div class="col-sm-4">
            <label for="sort-direction">Sort Direction</label>
            <div>
              <button class="btn btn-primary" 
                      (click)="sortDirection = 'asc'" 
                      [ngClass]="{'btn-success': sortDirection == 'asc'}"
                      >Asc
                  </button>
                  <button class="btn btn-primary" 
                    (click)="sortDirection = 'desc'"
                    [ngClass]="{'btn-success': sortDirection == 'desc'}" 
                    >Dsc
                  </button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div *ngFor="let crib of cribs | sortBy: [sortField, sortDirection]">
    <crib-card [crib]="crib" class="col-sm-3"></crib-card>
  </div>
</div>